<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fractal evolution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/spin.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="assets/js/fracgen.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div id="alert-overlay" class="col-lg-9"></div>
        <div id="fractals" class="col-lg-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 fractal" onclick="evo.select(0)">
                        <canvas id="0"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(1)">
                        <canvas id="1"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(2)">
                        <canvas id="2"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 fractal" onclick="evo.select(3)">
                        <canvas id="3"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(4)">
                        <canvas id="4"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(5)">
                        <canvas id="5"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 fractal" onclick="evo.select(6)">
                        <canvas id="6"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(7)">
                        <canvas id="7"></canvas>
                    </div>
                    <div class="col-lg-4 fractal" onclick="evo.select(8)">
                        <canvas id="8"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu" class="col-lg-3 menu">
            <h1>Iteration <span id="iteration"></span></h1>
            <h3 id="command">&nbsp;</h3>
            <div class="list-inline">
                <button
                        class="list-inline-item important-button"
                        id="historyBackward"
                        disabled="disabled"
                        onclick="evo.settings.historyBackward()">
                    <
                </button>
                <button
                        class="list-inline-item lockable important-button"
                        disabled="disabled"
                        onclick="evo.generate()">
                    New generation
                </button>
                <button
                        class="list-inline-item important-button"
                        id="historyForward"
                        disabled="disabled"
                        onclick="evo.settings.historyForward()">
                    >
                </button>
            </div>
            <div class="list-group">
                <button class="list-group-item lockable" disabled="disabled" data-toggle="modal"
                        data-target="#saveDialog">Save
                    HD image
                </button>
            </div>
            <div class="list-group">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#" id="loadFromString" class="list-group-item" onclick="evo.ui.openImport()">
                            <i class="fa fa-folder fa-fw" aria-hidden="true"></i>&nbsp;Load from string
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" id="saveToString" class="list-group-item" onclick="evo.ui.openExport()">
                            <i class="fa fa-save fa-fw" aria-hidden="true"></i>&nbsp;Save to string
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#" id="loadFromBrowser" class="list-group-item" onclick="evo.ui.openLoadManager()">
                            <i class="fa fa-folder fa-fw" aria-hidden="true"></i>&nbsp;Load from browser
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" id="saveToBrowser" class="list-group-item" onclick="evo.ui.openSaveManager()">
                            <i class="fa fa-save fa-fw" aria-hidden="true"></i>&nbsp;Save to browser
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item" onclick="evo.generateNew()">
                    <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp;Start over
                </a>
                <a href="#" class="list-group-item" onclick="evo.ui.openSettings()">
                    <i class="fa fa-wrench fa-fw" aria-hidden="true"></i>&nbsp;Generator settings
                </a>
                <a href="#" class="list-group-item debug" onclick="evo.ui.openCustom()">
                    Custom fractal
                </a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#aboutDialog">
                    <i class="fa fa-life-ring fa-fw" aria-hidden="true"></i>&nbsp;About & FAQ
                </a>
            </div>

            <div class="hiddable" id="details">
            </div>

            <div class="fullscreen">
                Press F11 to trigger FullScreen
            </div>
        </div>
    </div>
</div>

include "dialogs/saveManagerDialog.html"
include "dialogs/loadManagerDialog.html"
include "dialogs/exportImportDialog.html"
include "dialogs/aboutDialog.html"
include "dialogs/customDialog.html"
include "dialogs/saveToHDDialog.html"
include "dialogs/settingsDialog.html"

</body>
</html>
