canvas {
    background-color: white;
    width: 100%;
}

.fractal {
    background-color: black;
    padding: 5px;
    cursor: pointer;
}

.fractal:hover {
    background-color: #0CE3AC;
}

.fractal.active {
    background-color: #0CE3AC;
}

.fractal.locked {
    background-color: orangered;
}
.menu {
    margin: 0.5em auto;
    text-align: center;
}

td.table-label {
    text-align: right;
}

.pallete {
    margin-left: 20px;
    width: 140px;
    height: 20px;
}

.settings-icon {

}

button {
    text-align: center !important;
}

.list-item-disabled {
    color: #266a56 !important;
}

.list-inline-item {
    text-decoration: none;
    color: #0ce3ac;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    display: inline-block;
    margin-bottom: -1px;
    background-color: #303030;
    padding: 10px 15px;
    border: 1px solid #464545;
}

button.list-inline-item:hover, a.list-inline-item:focus, button.list-inline-item:focus {
    text-decoration: none;
    color: #0ce3ac;
    background-color: transparent;
    cursor: pointer;
}

button.list-inline-item:disabled {
    cursor: default;
}

.list-inline-item-disabled {
    color: #266a56 !important;
}

.list-group-item:active:focus {
    background-color: #1a1a1a;
}

.list-inline-item:active:focus {
    background-color: #1a1a1a;
}

.important-button {
    font-weight: bold;
    font-size: 15pt;
}

#alert-overlay {
    z-index: 999;
    position: fixed
}