canvas {
    background-color: white;
    width: 100%;
}

.fractal {
    background-color: black;
    padding: 5px;
    cursor: pointer;
}

.fractal:hover {
    background-color: #0CE3AC;
}

.fractal.active {
    background-color: #0CE3AC;
}

.fractal.locked {
    background-color: orangered;
}
.menu {
    margin: 0.5em auto;
    text-align: center;
}

td.table-label {
    text-align: right;
}

.pallete {
    margin-left: 20px;
    width: 140px;
    height: 20px;
}

.settings-icon {

}

button {
    text-align: center !important;
}

.list-item-disabled {
    color: #266a56 !important;
}

.important-button {
    font-weight: bold;
    font-size: 15pt;
}